/* Main Styling*/

/* Import Fonts from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap"); /* "Libre Baskerville", serif */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap"); /* "Josefin Sans", sans-serif */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap"); /* "Montserrat", sans-serif */
@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro&display=swap"); /* "Crimson Pro", serif */

/* Background Colour */
body {
  background-color: #d9d9d9;
}

/* Class P1 Paragraph Colour - Black */

.p1 {
  color: #000000;
}

/* Class P2 Paragraph Colour - Black */
/* Set Nav. Bar Text to Invisible till Clicked */
/* Setting Padding */
.navigationSections {
  background-color: #01257a;
  visibility: hidden;
  width: 250px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
}

/* temp */
.homepagegnerator {
  margin-left: 800px;
}

p2 {
  margin-left: 900px;
}

/* Setting Fonts*/
p,
.navigationButtons {
  font-family: "Montserrat", sans-serif;
}

/* Navigation Buttons */
.navigationButtons {
  background-color: #c2c1c1;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  display: block;
}

/* Hover Event for Navigation Button */
.navigationButtons:hover {
  background-color: white;
  color: black;
}

/* H1 Heading Colour - Darker Purple */
h1 {
  color: #c1005a;
}

/* H2 Heading Colour - Lighter Purple */
h2 {
  color: #e6006b;
}

/* H3 Heading Colour - Blue */
h3 {
  color: #01257a;
}
/* Napoleon Image */
.napoleonPNG {
  width: 10%;
  border-style: solid;
  border-color: white;
}

.generateButtons {
  font-family: "Crimson Pro", serif;
}

/* Nagivation Menu - Home Page */
.navigationMenu {
  width: 35px;
  height: 5px;
  background-color: #01257a;
  margin: 6px 0;
}

.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none;
}

.select-selected {
  background-color: DodgerBlue;
}

.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

.select-items div,
.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}